:root {
  color-scheme: light only;
  forced-color-adjust: none;
}

html {
  color-scheme: light only;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white !important;
  color: black !important;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: white !important;
    color: black !important;
  }
}

.bg-\[rgba\(59\2c 130\2c 246\2c 0\.5\)\] {
  background-color: rgba(172, 166, 168, 0.5) !important;
}

.leaflet-div-icon {
  @apply bg-transparent border-none p-0 m-0;
  width: auto !important;
  height: auto !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
